.body {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 10%,
    rgba(179, 153, 255, 0.396)
  );
}

.wrapper {
  width: 1225px;
  margin: 0px auto;
  padding: 30px 0px;
}

.heading-width {
  width: max-content;
  padding-bottom: 35px;
}

.page-heading {
  font-size: 4rem;
  color: #660066;
}

.border {
  background-color: #cc3366;
  width: 87%;
  height: 8px;
  position: relative;
  top: 5px;
}

.page-desc {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 5px;
}

.cooper-border {
  top: 0px;
}

.header-content {
  display: flex;
  align-items: stretch;
  gap: 15px;
  flex-shrink: 0;
  flex-grow: 0;
}

.image-container,
.side-text {
  flex-shrink: 0;
  flex-grow: 0;
}

.image-container {
  width: 66%;
}

.side-text {
  width: 33%;
}

.image {
  border-radius: 10px;
}

.primary {
  display: block;
  height: 100%;
  object-fit: cover;
}

.primary-mobile {
  display: none;
  width: 100%;
}

.secondary {
  width: 100%;
}

.secondary-mobile {
  display: none;
}

.side-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

article {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.sub-heading {
  font-size: 2.4rem;
  color: #660066;
  max-width: 270px;
}

.natural-bs-heading {
  max-width: 100%;
}

.desc {
  font-size: 1.6rem;
  font-weight: 400;
  max-width: 370px;
}

.body-images {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
  align-items: stretch;
  margin-top: 25px;
}

.b-image {
  display: block;
  width: 50%;
}

.b-image-mobile {
  display: none;
}

@media only screen and (max-width: 1250px) {
  .wrapper {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .image-container,
  .side-text {
    flex-shrink: 1;
  }

  .primary {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 920px) {
  main {
    padding-top: 50px;
  }

  .wrapper {
    width: 360px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .heading-width {
    margin: 0px auto;
  }

  .page-heading {
    font-size: 2.8rem;
  }

  .border {
    margin: 0px auto;
    width: 80%;
    top: 0px;
  }

  .page-desc {
    text-align: center;
    margin-top: 10px;
    font-size: 1.8rem;
  }

  .header-content {
    flex-direction: column;
  }

  .image-container,
  .side-text {
    width: 100%;
  }

  .primary {
    display: none;
  }

  .primary-mobile {
    display: block;
  }

  article {
    gap: 10px;
  }

  .sub-heading {
    font-size: 2rem;
    text-align: center;
    margin: 0px auto;
  }

  .desc {
    text-align: center;
  }

  .job {
    font-size: 1.8rem;
  }

  .secondary {
    display: none;
  }

  .secondary-mobile {
    margin-top: 30px;
    display: block;
    margin-bottom: 10px;
  }

  .body-images {
    flex-flow: column nowrap;
    gap: 15px;
    margin-top: 15px;
  }

  .b-image {
    display: none;
  }

  .b-image-mobile {
    display: block;
  }
}

@media only screen and (max-width: 370px) {
  .wrapper {
    width: 340px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
