.accom-text {
  width: 100%;
  border-top: 5px solid #660066;
  margin-top: 20px;
}

.accom-heading-wrapper {
  width: max-content;
  padding-top: 8px;
}

.accom-heading {
  color: #660066;
}

.accom-border {
  width: 90%;
  height: 5px;
  background-color: #cc3366;
}

.accom-heading-main {
  font-size: 2.4rem;
}

.prof {
  margin-top: 20px;
}

.accom-heading-sub {
  font-size: 1.6rem;
}

.accom-desc {
  font-size: 1.6rem;
  font-weight: 400;
  max-width: 235px;
}

.special-b-image {
  display: block;
  max-width: 605px;
  margin: 20px auto;
}

@media only screen and (max-width: 1250px) {
  .special-b-image {
    max-width: 50%;
  }
}

@media only screen and (max-width: 920px) {
  .special-b-image {
    max-width: 100%;
  }

  .accom-heading-wrapper {
    margin: 0px auto;
  }

  .accom-heading-main {
    font-size: 2rem;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .accom-border {
    margin: 0px auto;
    height: 4px;
  }

  .accom-heading-sub,
  .accom-desc {
    font-size: 1.8rem;
    text-align: center;
    max-width: 100%;
  }
}

@media only screen and (max-width: 370px) {
  .wrapper {
    width: 340px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
